@use "../../_index.scss" as *;

.team__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 4rem;
  transition: all 0.4s ease;
  width: 100%;
  .team__description {
    color: $text-color;
    margin-block-end: 2rem;
    text-align: center;
    line-height: $line-height;
    font-size: $text-font-size;
  }
  .team__card__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // place-content: center;
    place-items: center;
    max-width: 350px;
    grid-gap: 1rem;
    transition: all 0.4s ease;
    .team__card {
      display: grid;
      grid-template-columns: 1fr 60px;
      min-width: 350px;
      place-items: center;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.4s ease;
      box-shadow: 0.2rem 0.2rem $color-secondary,
        -0.2rem -0.2rem $color-dark-gray;

      .team__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100%;
        img {
          height: 160px;
          width: 160px;
          border-radius: 50%;
          border: 2px solid $color-secondary;
          padding: 0.3rem;
          margin-block-end: 1rem;
        }
        .name {
          color: $color-primary;
          font-size: 1.3rem;
          font-weight: 900;
          cursor: pointer;
          min-width: 80%;
          padding: 0.2rem;
          text-align: center;
          &:hover {
            color: $color-links;
          }
        }
        .occupation {
          color: $color-text-gray;
          padding: 0.3rem;
          cursor: pointer;
          min-width: 80%;
          text-align: center;
          &:hover {
            color: $color-links;
          }
        }
      }
      .team__social__medias {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-end;
        margin-block-end: 1rem;
        transition: all 0.4s ease;
        a {
          color: $color-links;
          &:hover {
            color: $color-links;
            z-index: 1;
          }
        }
      }
    }
  }
}

//mobile devices breakpoints
@media (min-width: 280px) and (max-width: 784px) {
  .team__container {
    .team__card__grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .team__card {
        display: grid;

        text-align: center;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1280px) {
  .team__container {
    .team__card__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .team__card {
        display: grid;
        grid-template-columns: 1fr 60px;
        place-items: center;
        box-shadow: 0 1px 5px $color-dark-gray;
        min-width: 350px;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.4s ease;
      }
    }
  }
}
