@use "../../index.scss" as *;

.about__container {
  margin-inline: 2rem;
  .underline {
    box-shadow: 1px 1px $color-links;
  }
  .about__application {
    color: $text-color;
    margin-block-start: 0.5rem;
    max-width: 80%;
    font-size: $text-font-size;
    line-height: 2rem;
  }
}
